<head>
	<title>a sua escola dos sonhos</title>
</head>

<div class="sky">
	<div class="cloud">
		<%= form_for @dream, remote: true, id: 'form' do |f| %>	
			<h1>
				o que se ensinaria na escola dos seus sonhos?	
			</h1>
			<%= f.text_field :text, :autocomplete => :off, id: 'input' %>
			<%= f.text_field :text, :autocomplete => :off, id: 'input2', style: 'display:none' %>

			<%= f.button "", class: 'send-dream-button', id: 'btn' do %>
				 > 
			<% end %>
		<% end %>
	</div>
</div>


<div id="dreams-shared" style="padding-top: 50px; display: none">
	<% @dreams.each do |dream| %>
		- <%= dream.text %>;
		</br>
	<% end %>
</div>

<script>
	
	window.onload = function() 
	{
  		$("#input").focus();
	};

	$(document).ajaxComplete(function(event, jqxhr, settings) 
	{
		if($('#input:visible').length != 0)
		{
			$.when($('#input').fadeOut(800)).done(function() 
			{	
				$("#input").val("");
				$("#input2").fadeIn();
				$("#input2").focus();
			});
        }
        else if($('#input2:visible').length != 0)
        {
        	$.when($('#input2').fadeOut(800)).done(function() 
			{
				$("#input2").val("");
				$("#input").fadeIn();
				$("#input").focus();
			});
        }
	});

	function wait(ms)
	{
	    var start = new Date().getTime();
	    var end = start;
	    while(end < start + ms) 
	    {
	     	end = new Date().getTime();
	    }
  	}

</script>